/* Logic Tutor - Problem 1 Styles */

.body-initial {
    background-color: rgb(255, 255, 255);
}

.background-initial {
    background-color: rgb(255, 255, 255);
    top: 5px;
    left: 50px;
    width: 700px;
    height: 600px;
}

/* Problem Title */
.silex-id-problem1-title {
    top: 10px;
    left: 20px;
    height: 40px;
    width: 500px;
    font-size: 18px;
}

/* Rules Description */
.silex-id-problem1-rules {
    top: 60px;
    left: 20px;
    height: 140px;
    width: 300px;
    font-size: 14px;
    line-height: 1.6;
}

/* Instructions */
.silex-id-problem1-instructions {
    top: 210px;
    left: 20px;
    height: 30px;
    width: 550px;
    font-size: 14px;
}

/* Table Headers */
.silex-id-header-fired {
    top: 250px;
    left: 120px;
    height: 25px;
    width: 100px;
    font-size: 14px;
    text-align: center;
}

.silex-id-header-deduced {
    top: 250px;
    left: 260px;
    height: 25px;
    width: 120px;
    font-size: 14px;
    text-align: center;
}

/* Row Labels */
.silex-id-label-first {
    top: 285px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

.silex-id-label-second {
    top: 325px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

.silex-id-label-third {
    top: 365px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

/* Input Fields - Rule Column */
.silex-id-input-rule1 {
    top: 280px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-rule2 {
    top: 320px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-rule3 {
    top: 360px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

/* Input Fields - Fact Column */
.silex-id-input-fact1 {
    top: 280px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-fact2 {
    top: 320px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-fact3 {
    top: 360px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

/* Hint Widget */
.silex-id-hint-widget {
    top: 420px;
    left: 20px;
    height: 140px;
    width: 450px;
}

/* Skill Window */
.silex-id-skill-window {
    top: 60px;
    left: 400px;
    height: 140px;
    width: 250px;
    box-sizing: content-box;
    padding: 0px;
    overflow: visible;
}
