/* styles for problem 2 page */

.body-initial {
    background-color: rgb(255, 255, 255);
}

.background-initial {
    background-color: rgb(255, 255, 255);
    top: 5px;
    left: 50px;
    width: 750px;
    height: 720px;
}

/* title at the top */
.silex-id-problem2-title {
    top: 10px;
    left: 20px;
    height: 65px;
    width: 650px;
    font-size: 18px;
}

/* the rules box */
.silex-id-problem2-rules {
    top: 85px;
    left: 20px;
    height: 180px;
    width: 320px;
    font-size: 14px;
    line-height: 1.6;
}

/* instructions text */
.silex-id-problem2-instructions {
    top: 275px;
    left: 20px;
    height: 50px;
    width: 550px;
    font-size: 14px;
}

/* column headers */
.silex-id-header-fired2 {
    top: 335px;
    left: 120px;
    height: 25px;
    width: 100px;
    font-size: 14px;
    text-align: center;
}

.silex-id-header-deduced2 {
    top: 335px;
    left: 260px;
    height: 25px;
    width: 120px;
    font-size: 14px;
    text-align: center;
}

/* labels on the left side */
.silex-id-label-first2 {
    top: 370px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

.silex-id-label-second2 {
    top: 410px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

.silex-id-label-third2 {
    top: 450px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

.silex-id-label-fourth2 {
    top: 490px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

.silex-id-label-fifth2 {
    top: 530px;
    left: 20px;
    height: 25px;
    width: 80px;
    font-size: 14px;
}

/* rule inputs */
.silex-id-input-rule1-p2 {
    top: 365px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-rule2-p2 {
    top: 405px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-rule3-p2 {
    top: 445px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-rule4-p2 {
    top: 485px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-rule5-p2 {
    top: 525px;
    left: 120px;
    height: 1.6em;
    width: 80px;
}

/* fact inputs */
.silex-id-input-fact1-p2 {
    top: 365px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-fact2-p2 {
    top: 405px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-fact3-p2 {
    top: 445px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-fact4-p2 {
    top: 485px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

.silex-id-input-fact5-p2 {
    top: 525px;
    left: 260px;
    height: 1.6em;
    width: 80px;
}

/* hint area */
.silex-id-hint-widget2 {
    top: 585px;
    left: 20px;
    height: 140px;
    width: 450px;
}

/* skill meter on the right */
.silex-id-skill-window2 {
    top: 85px;
    left: 420px;
    height: 180px;
    width: 280px;
    box-sizing: content-box;
    padding: 0px;
    overflow: visible;
}
